# ignore Visual Studio Code Config
.vscode

# ignore all other folders we dont need

deck/*
fbs_Data/*
replay/*

# ignore all current cards 

card/_TK4-001.card
card/_TK4-002.card
card/_WC1-001.card
card/_WC2-001.card
card/_WC3-001.card
card/_WC4-001.card
card/_WC5-001.card
card/CFC-001.card
card/CFC-002.card
card/CFC-003.card
card/CFC-004.card
card/CFC-005.card
card/CFC-006.card
card/CFC-007.card
card/CFC-008.card
card/CFC-009.card
card/CFC-010.card
card/CFC-011.card
card/CFC-012.card
card/CFC-013.card
card/CFC-014.card
card/CFC-015.card
card/CFC-016.card
card/CFC-017.card
card/CFC-018.card
card/CFC-019.card
card/CFC-020.card
card/CFC-021.card
card/CFC-022.card
card/CFC-023.card
card/CFC-024.card
card/CFC-025.card
card/CFC-026.card
card/CFC-027.card
card/CFC-028.card
card/CFC-029.card
card/CFC-030.card
card/CFC-031.card
card/CFC-032.card
card/CFC-033.card
card/CFC-034.card
card/CFC-035.card
card/CFC-036.card
card/CFC-037.card
card/CFC-038.card
card/CFC-039.card
card/CFC-040.card
card/CFC-041.card
card/CFC-042.card
card/CFC-043.card
card/CFC-044.card
card/CFC-045.card
card/CFC-046.card
card/CFC-047.card
card/CFC-048.card
card/CFC-049.card
card/CFC-050.card
card/CFC-051.card
card/CFC-052.card
card/CFC-053.card
card/CFC-054.card
card/CFC-055.card
card/CFC-056.card
card/CFC-057.card
card/CFC-058.card
card/CFC-059.card
card/CFC-060.card
card/CFC-061.card
card/CFC-062.card
card/CFC-063.card
card/CFC-064.card
card/CFC-065.card
card/CFC-066.card
card/CFC-067.card
card/CFC-068.card
card/CFC-069.card
card/CFC-070.card
card/CFC-071.card
card/CFC-072.card
card/CFC-073.card
card/CFC-074.card
card/CFC-075.card
card/CFC-076.card
card/CFC-077.card
card/CFC-078.card
card/CFC-079.card
card/CFC-080.card
card/CFC-081.card
card/CFC-082.card
card/CFC-083.card
card/CFC-084.card
card/CFC-085.card
card/CFC-086.card
card/CFC-087.card
card/CFC-088.card
card/CFC-089.card
card/CFC-090.card
card/CFC-091.card
card/CFC-092.card
card/CFC-093.card
card/CFC-094.card
card/CFC-095.card
card/CFC-096.card
card/CFC-097.card
card/CFC-098.card
card/CFC-099.card
card/CFC-100.card
card/SDL1-001.card
card/SDL1-002.card
card/SDL1-003.card
card/SDL1-004.card
card/SDL1-005.card
card/SDL1-006.card
card/SDL1-007.card
card/SDL1-008.card
card/SDL1-009.card
card/SDL1-010.card
card/SDL1-011.card
card/SDL1-012.card
card/SDL2-001.card
card/SDL2-002.card
card/SDL2-003.card
card/SDL2-004.card
card/SDL2-005.card
card/SDL2-006.card
card/SDL2-007.card
card/SDL2-008.card
card/SDL2-009.card
card/SDL2-010.card
card/SDL2-011.card
card/SDL2-012.card
card/SDL3-001.card
card/SDL3-002.card
card/SDL3-003.card
card/SDL3-004.card
card/SDL3-005.card
card/SDL3-006.card
card/SDL3-007.card
card/SDL3-008.card
card/SDL3-009.card
card/SDL3-010.card
card/SDL3-011.card
card/SDL3-012.card
card/SDL4-001.card
card/SDL4-002.card
card/SDL4-003.card
card/SDL4-004.card
card/SDL4-005.card
card/SDL4-006.card
card/SDL4-007.card
card/SDL4-008.card
card/SDL4-009.card
card/SDL4-010.card
card/SDL4-011.card
card/SDL4-012.card
card/SDL5-001.card
card/SDL5-002.card
card/SDL5-003.card
card/SDL5-004.card
card/SDL5-005.card
card/SDL5-006.card
card/SDL5-007.card
card/SDL5-008.card
card/SDL5-009.card
card/SDL5-010.card
card/SDL5-011.card
card/SDL5-012.card